body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    
    background-color: #849d8f;
}
a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/* Шапка */
.site-nav,
.user-nav,
.site-nav-sub{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* Site menu */
.site-nav_link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-nav_link:hover {
    color: #333333;
    background-color: #fff;
}
.site-nav_link:active {
    color: #fff;
    background: #d07058;
}
/* выпадающая менюшка */
.site-nav-sub {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background: #fff;
}
.site-nav-sub li:first-child {
    font-weight: 700;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.site-nav-sub a {
    color: #323232;
}
.site-nav-sub a:hover {
    background: #fbded7;
}
.site-nav-sub a:active {
    background: #f6b5a5;
}
/* User menu */
.user-btn{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    background: rgba(255, 255, 255, 0.2)
}
.user-btn:hover,
.user-btn:active{
    color: #323232;
    background: #fff;
}
.login-link {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;   
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 
}
.login-link:hover,
.login-link:active {
    color: #e84d37;
    border-bottom: 1px solid rgba(232, 77 , 55, 0.3);
}
/* График телефон */
.header-time {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    text-align: right; 
}
.header-phone {
    font-size: 22px;
    line-height: 24px;
} 
.search fieldset,
.login fieldset,
.feedback fieldset {
    border: none;
}
/* слайдер */
.slider ul{
    margin: 0;
    padding: 0;
}
.slide {
    list-style: none;
}
.slide h2 {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
} 
.slide_btn {
padding: 11px 41px 13px 41px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    width: 280px;
    height: 64px;
}
/* Красные кнопки */
.btn {
    text-shadow: 0 2px 5px #a0200b;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.6);
    border-radius: 50px;
    background: linear-gradient(0deg, #e74a35, #f26843);
}
.btn:hover {
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    background: linear-gradient(0deg, #ec6f5e, #f58669);
}
.btn:active {
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    background: linear-gradient(0deg, #e1613e, #d74632);
}
/* Акции */
.promo-left {
    background: no-repeat #7d132a url(/img/promo-klubnika.jpg);
}
.promo-right {
    background: no-repeat #492d20 url(/img/promo-shokolad.jpg);
}
.promo-left h2,
.promo-right h2{
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #fff;
}
.promo-left p,
.promo-right p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
}
/* Продукция */
.product {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ice_price,
.ice_name {
    margin: 0;
    padding: 0;
}
.ice_link {
    color: #fff;
}
.ice_price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}
.ice_weight {
    font-size: 30px;
}
.ice_name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
/* О нас */
.about_us {
    background: #ede0c8 url(/img/bg-about.jpg);
}
.about_us h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.about {
    margin: 0;
    padding: 0;
}
.about_text {
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
/* блог */
.blog {
    background: #fff;
}
.blog h2 {
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}
.blog_link {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    text-decoration: underline;
}
/* Подписка */
.subscribe-wrapper {
    background: url(/img/bg-post.svg);
    padding: 5px;
}
.subscribe {
    background: #f5f3f2;
}
.subscribe p {
    margin: 0;
}
/* map */
/* contacts */
.contacts_content{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.contacts-adress{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.contacts-phone{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.contacts-time{
    line-height: 22px;
}
.feedback_title {
    font-size: 44px;
    line-height: 28px;
    font-weight: 500;
}
/* footer */
.footer-socials,
.footer-information {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-socials {
    font-size: 0;
}
.social {
    display: block;
    width: 32px;
    height: 32px;
}
.tw {
    background: url(/img/twitter.svg);
}
.inst {
    background: url(/img/instagram.svg);
}
.fb {
    background: url(/img/fb.svg)
}
.vk {
    background: url(/img/vk.svg)
}
.footer-inf{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-information li:first-child a {
    font-weight: 700;
}
.footer-inf:hover,
.footer-inf:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
.copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
}
.copyright_text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright_text:hover,
.copyright_text:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
/* сетка */
.main-header {    
    width: 1200px;
    margin: 0 auto;
}
.main-nav {
    display: flex;
    justify-content: center;
}
.main-logo {
    width: 155px;
}
.site-nav {
    width: 725px;
}
.user-nav {
    width: 267px;
}
.header-time {
    width: 1146px;
    margin: 0 auto;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.promo {
    padding: 0 13px;
    display: flex;
    justify-content: space-around;
}
.promo-left,
.promo-right {
    width: 560px;
}
.products {
    padding: 0 13px;
}
.product {
    display: flex;
    justify-content: space-around;
}
.ice {
    width: 267px;
}
.about_us {
    width: 1146px;
    margin: 0 auto;
}
.news {
    padding: 0 13px;
    display: flex;
    justify-content: space-around;
}
.blog,
.subscribe-wrapper {
    width: 560px;
}
.map {
    width: auto;
}
.main-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.footer-socials {
    width: 267px;
}
.footer-information {
    width: 560px;
}
.copyright {
    width: 267px;
}