body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
}
a {
    text-decoration: none;
}
.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.page-wrapper {
    min-width: 1200px;
}
.background1 {
    background-color: #849d8f;
}
.background2 {
    background-color: #8996a6;
}
.background3 {
    background-color: #9d8b84;
}
.wrapper {
    min-width: 1200px;
    max-width: 1200px;
    margin: 0 auto;

}
.main-logo {
    flex-grow: 0;
}
.main-header {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    margin: 0 2.3%;
}
.main-nav{
    display: flex;
    align-content: stretch;
}
.site-nav,
.site-nav-sub,
.user-nav {
    padding: 0;
    list-style: none;
}
/* меню */
.site-nav {
    flex-grow: 1;
    display: flex;
    margin-top: 12px;
    margin-left: 9px;
}
.site-nav li {
    position: relative;
    cursor: pointer;
}
.site-nav a {
    display: block;
    padding: 7px 15px;
}
.site-nav_link {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
}
.site-nav_link::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}
/* меню-действия */
.site-nav_item:hover .site-nav_link {
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 15px;
}
.site-nav_link:active {
    box-shadow: inset 0 2px 1px #696969;
}
.site-nav_item:hover .site-nav-sub {
    display: block;
}
.site-nav_link--active {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #d07058;
    color: #fff;
    border-radius: 15px;
}
/* выпадашка */
.site-nav-sub {
    z-index: 5;
    position: absolute;
    top: 37px;
    left: -5px;
    display: none;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    width: 143px;
    overflow: hidden;
}
.site-nav-sub li {
    cursor: pointer;
}
.site-nav-sub a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    white-space: normal;
    padding: 8px 5px 8px 22px;
}
.site-nav-sub .sub-first {
    font-weight: 700;
    position: relative;
    padding-top: 11px;
    padding-bottom: 13px;
}
.sub-first::after {
    content: "";
    position: absolute;
    right: 6px;
    bottom: 0;
    left: 6px;
    height: 1px;
    background-color: rgba(53,53,53,0.2);
}
/* выпадашка-действия */
.site-nav-sub li a:hover {
    background-color: #fbded8;
}
.site-nav-sub li a:active {
    background-color: #f6b5a5;
}
.sub-active {
    background-color: #d07058;
}
/* юзер меню */
.user-nav {
    flex-grow: 0;
    display: flex;
    margin-top: 12px;
}
.user-nav_link {
    position: relative;
    display: flex;
    background-color: rgba(255,255,255,.2);
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin-left: 8px;
    cursor: pointer;
}
.login-btn svg {
    margin-right: 6px;
}
.basket-btn svg {
    margin-left: -10px;
    margin-right: 6px;
}
.search-btn {
    width: 32px;
    border-radius: 50%;
}
.login-btn {
    min-width: 92px;
}
.basket-btn {
    min-width: 117px;
}
/* юзер-действия */
.user-nav_link:hover g {
    fill: #000;
}
.user-nav_link:hover,
.user-nav_link:active{
    color: #323232;
    background: #fff;
}
/* модалка поиск */
.user-nav li {
    position: relative;
}
.search-form,
.login-form {
    position: absolute;
    top: 37px;
    right: 0;
    width: 341px;
    min-height: 84px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    z-index: 10;
    display: none;
}
.search-form input {
    width: 311px;
    margin-left: 15px;
}
/* модалка логин */
.login-form {
    width: 277px;
    min-height: 214px;
}
.login-form input {
    margin-left: 15px;
    width: 241px;
}
.login-form button {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px 25px;
}
.login-links a {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;
    text-decoration: none;
    background: linear-gradient(to top, rgba(0,0,0) 1px, transparent 1px);
}
.login-links a:hover,
.login-links a:active {
    color: #e84d37;
    background: linear-gradient(to top, #f9cdc4 1px, transparent 1px);
}

.login-links {
    padding: 0;
    margin: 0;
    float: right;
    padding-top: 15px;
    width: 140px;
    
}
/* модалка корзина */
.basket-form {
    position: absolute;
    top: 37px;
    right: 0;
    width: 540px;
    padding: 15px 15px 20px;
    color: #323232;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
    background-color: #f8f7f4;
    box-sizing: border-box;
    display: none;
}
.basket-form,
.basket-form a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}
.order-table {
    width: 100%;
}
.order-table img {
    border-radius: 50%;
}
.order-table tfoot::before{
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    left: 15px;
    height: 1px;
    background-color: #cacac7;
}
.order-table tr:nth-child(2) a {
    display: block;
    margin-top: 10px;
    width: 230px;
}
.order-price {
    width: 100%;
    padding-top: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    display: block;
}
.order_btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    padding: 10px 15px;
    float: right;
}
.order-table td {
    padding-right: 5px;
    padding-bottom: 15px;
}
.order-table tr td:first-child {
    width: 20px;
}
.order-table tr td:nth-child(2) {
    width: 35px;
}
.order-table tr td:nth-child(3) {
    width: 235px;
    padding-right: 10px;
}
.order-del {
    width: 11px;
    height: 11px;
    font-size: 0;
    background: url("../img/cross-small.svg") no-repeat;
    border: none;
    vertical-align: middle;
}
.weight_grey {
    color: #999999;
}
/* .main-nav {
    display: flex;
}
.site-nav,
.user-nav,
.site-nav-sub{
    padding: 0;
    margin: 0;
    list-style: none;
}
.site-nav {
    width: 724px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-left: 9px;
}
.site-nav_item {
    position: relative;

}
.site-nav_link {
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    padding: 7px 15px;
}
.site-nav_link:hover {
    color: #333333;
    background-color: #fff;
    border-radius: 30px;
    
}
.site-nav_link:active {
    box-shadow: inset 0 2px 1px #696969;
}
.site-nav_link--active {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #fff;
    padding: 7px 15px;
    border-radius: 30px;
    background-color: #d07058;
}

.site-nav-sub {
    display: block;
    position: absolute;
    top: 32px;
    box-sizing: border-box;
    width: 143px;
    margin-left: -7px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
.site-nav-sub a {
    display: block;
    padding: 8px 5px 8px 22px;
    color: #323232;
}
.site-nav-sub li:first-child a{
    position: relative;
    font-weight: 700;
    padding-top: 11px;
    padding-bottom: 13px;
}
.site-nav-sub .first-item::after{
    content: "";
    position: absolute;
    right: 9px;
    bottom: 0;
    left: 6px;
    height: 1px;
    background-color: rgba(53,53,53,.2);
}
.site-nav-sub a:hover {
    background: #fbded7;
}
.site-nav-sub a:active {
    background: #f6b5a5;
}

.user-nav {
    width: 267px;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
}
.user-nav_item {
    display: block;
    padding: 20px 0;
    margin-left: 8px;
}
.search-btn {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.user-nav_link{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);

}
.user-nav_link:hover g {
    fill: #000;
}
.user-nav_link:hover,
.user-nav_link:active{
    color: #323232;
    background: #fff;
}
.login-btn {
    display: flex;
    padding: 7px 15px;
    border-radius: 20px;
}
.login-btn svg {
    padding-right: 10px;
}
.basket-btn {
    display: flex;
    padding: 7px 25px 7px 20px;
    border-radius: 20px;
}
.basket-btn svg {
    padding-right: 10px;
}
.basket-btn--active {
    color: #323232;
    background: #f7f6f3;
    padding-right: 15px;
}

.login-link {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232;   
    border-bottom: 5px solid rgba(0, 0, 0, 0.3); 
}
.login-link:hover,
.login-link:active {
    color: #e84d37;
    border-bottom: 1px solid rgba(232, 77 , 55, 0.3);
} */
/* График телефон */
.header-bottom {
    display: flex;
    justify-content: space-between;
}
.header-time {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    text-align: right; 
}
.header-phone {
    margin: 5px 0;
    font-size: 22px;
    line-height: 24px;
} 
/* крошки */
.breadcrumbs {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0;
    
}
.breadcrumbs li {
    padding-right: 18px;
    position: relative;
}
.breadcrumb_link::after {
    content: "»";
    position: absolute;
    right: 4px;
    bottom: 2px;
}
.breadcrumb_link {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}
.breadcrumb_link:hover,
.breadcrumb_link:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
.breadcrumb_link--active {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
}
.page-title {
    margin: 0;
    color: #fff;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 2.2%;
}
.filters {
    margin: 0 2.3%;
    display: block;
    margin-bottom: 25px;
}
.filters fieldset {
    margin: 0;
    padding: 5px 10px 17px 0;
    border: none;
}
.filters,
.filter,
.filter_btn {
    display: inline-block;
}
.filters legend {
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}
.filter_btn {
    border: none;   
    margin-top: 21px;
    padding: 8px 26px;
    font-weight: 500;
    line-height: 18px;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    background: rgba(255,255,255,0.2);  
    cursor: pointer;
}
.filter_btn:hover {
    color: #000;
    background-color: #fff;
}
.filter_btn:active {
    color: #000;
    background-color: #fff;
    border: 0;
    padding: 10px 26px;
    box-shadow: inset 0 2px 1px #696969;
}
.filter select {
    height: 36px;
    padding: 0 35px 0 15px;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    background-color: rgba(255,255,255,.2);
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: 170px 16px;
    border: none;
    border-radius: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.filter select:hover {
    color: #000;
    background-image: url("../img/select-arrow_hover.svg")
}
.filter-wrapper {
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    border-radius: 18px;
    background: rgba(255,255,255,.2);
}
input[type=range] {
    width: 178px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.filters .filter-fat {
    font-size: 16px;
    color: #fff;
}
.filter-fat label {
    margin-right: 15px;
}
input[type=radio]+label::before {
    content: "";
    display: inline-block;
    margin-right: 11px;
    vertical-align: middle;
    width: 21px;    
    height: 21px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 21px 21px;
    cursor: pointer;
}
.filter-fat label:last-child {
    margin-right: 0px;
}
input[type=radio]:checked+label::before {
    background-image: url(../img/radio-on.svg);
}
.filter-fillers label {
    font-size: 16px;
    color: #fff;
    margin-right: 18px;
}
.filter-fillers div {
    padding-right: 5px;
}
input[type=checkbox]+label::before {
    content: "";
    display: inline-block;
    margin-right: 11px;
    vertical-align: middle;
    width: 21px;    
    height: 21px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 21px 21px;
    cursor: pointer;
}
input[type=checkbox]:checked+label::before {
    margin-right: 8px;
    width: 24px; 
    background-image: url(../img/checkbox-on.svg);
    background-size: 24px 21px;
}
input[type=radio]+label::before,
input[type=checkbox]+label::before {
    opacity: 0.7;
}
input[type=radio]:hover+label::before,
input[type=checkbox]:hover+label::before {
    opacity: 1;
}
/* слайдер */
.slider-item {
    position: absolute;
    left: 225px;
    bottom: 0;
}
.slider {
    height: 210px;
    position: relative;
    padding-top: 280px;
    text-align: center;
    margin: 0 2.3% 40px;
}
.slide img {
    position: absolute;
    bottom: -60px;
    left: 30px;
    z-index: 1;
}
.slider ul{
    margin: 0;
    padding: 0;
}
.slide {
    list-style: none;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 2;
}
.slider-title {
    position: relative;
    width: 700px;
    margin: 0 auto 30px;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    display: block;
    z-index: 5;
} 
.slide_btn {
    position: relative;
    display: inline-block;
    padding: 12px 40px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    z-index: 5;
}
.slider-control {
    position: absolute;
    bottom: 20px;
    z-index: 20;
    font-size: 0;
}
.slider-control label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.control-active {
    background-color: #fff;
}
/* Красные кнопки */
.btn {
    display: inline-block;
    text-shadow: 0 2px 5px #a0200b;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.6);
    border-radius: 50px;
    background: linear-gradient(0deg, #e74a35, #f26843);
    border: none;
    white-space: nowrap;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
    background: linear-gradient(0deg, #ec6f5e, #f58669);
}
.btn:active {
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
    background: linear-gradient(0deg, #e1613e, #d74632);
}
/* Акции */
.promo {
    padding: 0 2.3%;
    display: flex;
    position: relative;
    z-index: 5;
}
.raspberries {
    background: no-repeat #7d132a url(../img/promo-klubnika.jpg);
    margin-right: 1.1%
}
.chocolates {
    background: no-repeat #492d20 url(../img/promo-shokolad.jpg);
    margin-left: 1.1%;
}
.raspberries h2,
.chocolates h2{
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #fff;
}
.raspberries p,
.chocolates p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
}
.raspberries,
.chocolates {
    padding: 15px 20px 93px;
    margin-bottom: 40px;
    position: relative;
    border-radius: 15px;
    width: 560px;
}
.promo-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* Продукция */
.products {
    padding: 0 2.3%;
}
.product {
    display: flex;
    flex-wrap: wrap;
}

.product .ice:first-child,
.product .ice:nth-child(4n+1) {
    margin-left: 0;
}
.product .ice:nth-child(4n) {
    margin-right: 0;
}
.preview_btn {
    position: absolute;
    display: none;
    padding: 10px 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    bottom: -55px;
    left: 30px;
    z-index: 1;
}
.ice {
    position: relative;
}
.ice:hover {
    z-index: 10;
}
.ice-wrapper:hover .preview_btn {
    display: block;
}
.ice-wrapper:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 293px;
    height: 107%;
    margin-top: -3%;
    margin-left: -13px;
    padding-bottom: 60px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
}
.ice {
    width: 267px;
    margin: 0 1.1%;
    position: relative;
    margin-bottom: 40px;
}
.product {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ice_price,
.ice_name {
    margin: 0;
    padding: 0;
}
.ice_link {
    color: #fff;
    position: relative;
}
.ice_link img {
    border-radius: 50%;
    margin-bottom: 10px;
}
.ice_price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;

    position: absolute;
    bottom: 65px;
}
.ice_weight {
    font-size: 30px;
}
.ice_weight::before {
    content: "";
    display: inline-block;
    margin-bottom: -3px;
    height: 36px;
    width: 31px;
    background-color: pink;
    background: no-repeat url("../img/ruble.svg")
}
.ice {
    text-align: center;
}
.ice_name {
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    display: inline;
}
.hit .ice_link::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.svg")
}


/* О нас */
.about_us {
    margin: 0 2.3%;
    background: #ede0c8 url(../img/bg-about.jpg);
    padding: 15px 0;
    border-radius: 15px;
    margin-bottom: 40px;
}
.about_us h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 9px;
    padding-left: 20px;
}
.about {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.about_text {
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    width: 480px;

    position: relative;
    padding: 12px 8px 10px 76px;
}
.about_text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    width: 49px;
    height: 49px;
}
.about_text:nth-child(1)::before {
    background-image: url("../img/ice-cream.svg"); 
}
.about_text:nth-child(2)::before {
    background-image: url("../img/cow.svg"); 
}
.about_text:nth-child(3)::before {
    background-image: url("../img/eco.svg"); 
}
.about_text:nth-child(4)::before {
    background-image: url("../img/thermometer.svg"); 
}

/* блог */
.news {
    margin: 0 2.3%;
    display: flex;
    margin-bottom: 40px;
}
.blog {
    width: 520px;
}
.subscribe-wrapper {
    width: 560px;
}
.blog {
    background: #fff url(../img/blog-klubnika.jpg) no-repeat 100% 0;
    border-radius: 15px;
    margin-right: 1.1%;
    padding: 15px 20px;
}
.blog h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 5px;
}
.blog_link {
    display: inline;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.5)
}
/* Подписка */
.subscribe-wrapper {
    box-sizing: border-box;
    background:
        repeating-linear-gradient(135deg, 
        #92cdff 0, #92cdff 7px, #f8f7f4 0, #f8f7f4 14px, #fe9e90 0, #fe9e90 21px, #f8f7f4 0, #f8f7f4 28px);
    border-radius: 15px;  
    margin-left: 1.1%;
}
.subscribe {
    position: relative;
    box-sizing: border-box;
    background: #f8f7f4;
    margin: 5px;
    border-radius: 10px;
    padding: 15px 23px 75px;
    min-height: 210px;
}
.subscribe-form {
    position: absolute;
    bottom: 35px;
    width: 90%;
    box-sizing: border-box;
}
.subscribe p {
    color: #5a5a5a;
    margin: 16px 0;

}
.subscribe input {
    width: calc(100% - 142px);
}
.subscribe_btn {
    box-sizing: border-box;
    width: 128px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 10px;
}

/* map */
/* contacts */
.contacts_content{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.contacts-adress{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
.contacts-phone{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.contacts-time{
    line-height: 22px;
}

/* footer */

.main-footer {
    display: flex;
    justify-content: space-around;
    margin: 0 2.3%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-socials,
.footer-inf {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-socials {
    margin-right: 1.1%;
    width: 267px;
}

.copyright {
    text-align: right;
    width: 267px;
    margin-left: 1.1%;
}
.copyright_logo {
    display: block;
   margin: 0 auto;
}
.footer-socials {
    display: flex;
    font-size: 0;
    margin-top: 20px;
}
.social {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.2);
    margin-right: 15px;
    opacity: 0.8;
}
.social:hover {
    border: 3px solid rgba(255, 255, 255, 0.5);
    opacity: 0.9;
}
.social:active {
    border: 3px solid rgba(255, 255, 255, 0.8);
}
.tw {
    background: no-repeat url(../img/twitter.svg);
}
.inst {
    background: no-repeat url(../img/instagram.svg);
}
.fb {
    background: no-repeat url(../img/fb.svg)
}
.vk {
    background: no-repeat url(../img/vk.svg)
}
.tw,
.inst,
.fb,
.vk {
    background-position: 50% 50%;
}
.footer-inf_wrapper {
    width: 560px;
    margin: 0 1.1%;
}
.footer-inf {
    margin: 12px auto 0;
}
.footer-inf_link{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    white-space: nowrap;
}
.footer-inf td{
    display: table-cell;
    width: 140px;
    padding: 0;
}
.footer-inf_item:first-child a {
    font-weight: 700;
}
.footer-inf_link:hover,
.footer-inf_link:active {
    color: #ffbc9e;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
}
.heart {
    position: relative;
}
.heart::before {
    content: "❤";
    position: absolute;
    left: -18px;
    bottom: -2px;
    font-size: 16px;
}
.copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;

}
.copyright_text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright_text:hover,
.copyright_text:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
/* каталог */


/* пагинатор */
.paginator {
    list-style: none;
    margin: 35px 2.3% 30px;
    display: flex;
    justify-content: flex-end;
}
.paginator_link {
    display: flex;
    margin: 0 0 0 3px;
    width: 26px;
    height: 26px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.pg-left {
    background: no-repeat url(../img/paginator-left.png);
}
.pg-right {
    background: no-repeat url(../img/paginator-right.png);
}
.pg-left,
.pg-right {
    font-size: 0;
    background-position: 50% 50%;
}
.pg-active {
    color: #323232;
    background: #fff;
    border-radius: 50%;
    cursor: default;
}
.pg-inactive {
    cursor: default;
}
.paginator_link:not(.pg-active):not(.pg-left):hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.paginator_link:active {
    color: #323232;
    background-color: #fff;
    border-radius: 50%;
}
.map {
    width: 100%;
    height: 430px;
}
.map .wrapper {
    position: relative;
}
.contacts-map {
    margin: 0, 2.3%;
}
.contacts {
    position: absolute;
    top: 62px;
    right: 2.3%;
    width: 302px;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #fffefe;
}
.feedback_btn {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 22px;
    margin-bottom: 17px;
    padding: 10px 30px;
    white-space: nowrap;

}
body input[type=email],
body input[type=password],
body input[type=search],
body input[type=text],
body textarea {
    box-sizing:border-box;
    margin-top:20px;
    margin-right:0;
    padding:10px 14px;
    overflow:hidden;
    font-size:16px;
    line-height:24px;
    color:#000;
    white-space:nowrap;
    border:1px solid rgba(178,178,178,.52);
    border-radius:5px;
    box-shadow:none;
}
input[type=email]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=text]:hover,
textarea:hover {
    padding:9px 13px;
    border:2px solid rgba(154,154,154,.52);
}
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
textarea:focus {
    padding:9px 13px;
    font-weight:700;
    border:2px solid rgba(46,136,228,.52);
    outline:none;
}
.feedback-popup {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    display: none;
    box-sizing: border-box;
    width: 478px;
    height: 442px;
    margin-top: -221px;
    margin-left: -239px;
    padding-right: 25px;
    padding-left: 25px;
    color: #323232;
    background-color: #f8f7f4;
    border-radius: 10px;
}
.feedback_title {
    margin: 0;
    margin-top: 16px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.feedback-form {
    padding: 0;
    margin: 0;
    border: none;
}
.feedback-form input {
    width: 267px;
}
.feedback-form textarea {
    width: 428px;
    height: 155px;
}
.feedback-form_btn {
    padding: 10px 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
    float: right;
}
.feedback-popup_close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 17px;
    height: 17px;
    background: url("../img/cross-big.svg") no-repeat;
    border: none;
    cursor: pointer;
}
body {
    position: relative;
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, 0.3);
}
.modal-show {
    display: block;
}
.modal-feedback-show {
    display: block;
    animation: bounce 0.6s;
}
@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }